@font-face {
  font-family: 'noto-sans';
  src: url('/fonts/Noto_Sans.woff/NotoSans-Regular.woff') format('woff'),
    url('/fonts/Noto_Sans.woff/NotoSans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'noto-sans';
  src: url('/fonts/Noto_Sans.woff/NotoSans-Bold.woff') format('woff'),
    url('/fonts/Noto_Sans.woff/NotoSans-Bold.woff') format('woff2');
  font-weight: 800;
}
@font-face {
  font-family: 'noto-sans';
  src: url('/fonts/Noto_Sans.woff/NotoSans-Italic.woff') format('woff'),
    url('/fonts/Noto_Sans.woff/NotoSans-Italic.woff2') format('woff2');
  font-style: italic;
}
@font-face {
  font-family: 'noto-sans';
  src: url('/fonts/Noto_Sans.woff/NotoSans-BoldItalic.woff') format('woff'),
    url('/fonts/Noto_Sans.woff/NotoSans-BoldItalic.woff') format('woff2');
  font-weight: 800;
  font-style: italic;
}
