:root {
  --cop-blue: #6ca9c3;
  --yellow: #fcf40e;
  --gray: #3a3533;
  --dark-blue: #000e33;
  --dark-red: #800000;
}
footer {
  height: 80px;
  width: 100%;
  position: relative;
  margin-top: 24px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: var(--mid-blue);
  border-top: 2px solid var(--dark-blue);
}
footer div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
  min-width: 250px;
}
footer svg {
  max-width: 20px;
  fill: var(--yellow);
}
footer p,
footer a {
  display: inline;
  text-decoration: none;
  color: var(--yellow);
}
